###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

*.resx binary
*.settings binary
